%form{ 'ng-if' => 'show()', 'ng-submit' => 'submit(model)' }
  %fieldset
    %legend {{ title() }}
    %label Name
    %input{ type: 'text', 'ng-model' => 'model.name' }
    %label Desc
    %input{ type: 'text', 'ng-model' => 'model.desc' }
    %button{type: 'submit'} Save
